body{
    font-family: "Aldrich", sans-serif;
    font-weight: 200;
    font-style: normal;
}
#VideoPlaying video{
    position:fixed;
    width:200%;
    top: 0%;
    left:0%;
    z-index: -10;
    filter:brightness(0.7);
    filter:blur(10px);
    display:block;
    margin:auto;
    transform: translate(-12%, -25%);
    transition: filter 1s ease;
}
.Box1{
    z-index: 30;
    position: relative;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    top:10px;
    left:10px;
    background-image: linear-gradient(rgb(30, 30, 30,0.7),rgb(25, 25, 25,0.8));
    border-color: rgb(197, 250, 250);
    border-radius: 10px;
    border-style: solid;
    opacity: 0.2;
    transition: width 0.5s ease, opacity 0.6s ease, height 0.7s ease, max-height 0.7s ease, max-width 0.5s ease;
    float:left;
    margin-left:10px;
    text-align: center;
}
.Box1:hover{
    width: 80px;
    max-width: 100px;
    opacity: 1;
    max-height:75px;
    height: 75px;
}
.Box1 img
{
    height:999px;
    max-width: 100%;
    max-height:100%
}
.BigBox{
    animation: 1.3s ease FadeOn;
    position:absolute;
    margin:0%;
    right:96%;
    width:300px;
    height:60px;
    background-image: linear-gradient(rgb(30, 30, 30,0.7),rgb(25, 25, 25,0.8));
    border-style: solid;
    border-color:rgb(255,255,255, 0.6);
    border-radius: 0px 0px 50px 0px;
    border-top: none;
    border-left:none;
    transition: right 0.6s ease, border-color 0.6s ease, height 0.8s ease, bottom 0.5s ease;
    box-shadow: 0px 0px 3px 2px black;
    top:0%;
}
.BigBox:hover
{
    right:84.6%;
    border-color:rgb(255,255,255, 1);
    height:115px;
}
.BigBox:hover #VideoPlaying video{
    visibility: hidden;
}
@keyframes FadeOn
{
    0% {opacity: 0; right:110%}
    50% {opacity: 0.5;right:93%}
    100% {opacity: 1;}
}
.Menu img
{
    position:relative;
    color:white;
    right:20px;
    float:right;
    height:50px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.BigBox:hover .Menu img{
    opacity: 0;
}
.Text
{
    opacity: 0;
    color:white;
    font-size:1px;
    transition: opacity 0.8s ease, font-size 0.3s ease-out;
}
.Box11:hover .Text1
{
    opacity: 1;
    font-size:20px;
}
.Box12:hover .Text2
{
    opacity: 1;
    font-size:20px;
}
.Box13:hover .Text3
{
    opacity: 1;
    font-size:20px;
}
.Box14:hover .Text4
{
    opacity: 1;
    font-size:14px;
}
.Box15:hover .Text5
{
    opacity: 1;
    font-size:15px;
}
#BlackBoxOver
{
    position:fixed;
    animation: 1.5s ease HoverFadeOff 1;
    min-width: 100%;
    min-height:100%;
    background-color:rgb(113, 214, 209);
    top:0%;
    left:0%;
    z-index:100;
    opacity: 0;
    visibility: hidden;
}
@keyframes HoverFadeOff
{
    0% {opacity: 1; visibility: visible;}
    20% {opacity: 0.4;}
    100% {opacity: 0; visibility: hidden;}
}
#ProfilePicture img
{
    width:250px;
    height:250px;
    background-color: rgb(223, 107, 252, 0.5);
    border-radius: 100%;
    border-width: 3px;
    border-color:rgba(78, 0, 88, 0.397);
    border-style: solid;
}
#ProfilePicture
{
    animation: 1.2s ease ProfileMoveOn;
    text-align: center;
}
footer{
    width:100%;
    height: 100px;
    background-image: linear-gradient(rgba(206, 206, 206, 0),rgba(255, 255, 255, 0.26));
    bottom:0%;
    left:0%;
    position:fixed;
    display: flex;
    align-items: flex-end;
    color:white;
    padding-left:10px;
}
.QuickGallery
{
    animation: 1s ease Moveon;
    position: relative;
    height:230px;
    width:500px;
    text-align: center;
    align-items: center;
    top:150px;
    float:left;
}
.QuickGallery1
{
    left:300px;
}
.QuickGallery2
{
    left:600px;
}
.helper{
    display: inline-block;
    vertical-align: middle;
}
.GalleryHover img
{
    position:absolute;
    display:inline-block;
    vertical-align: center;
    word-spacing: 0%;
    width:600px;
    left:0;
    transform: translate(-50px, -30px);
}
.GalleryHoverOff
{
    z-index: 100;
}
.GalleryHoverOn
{
    opacity: 0;
    transform:translatey(-17px);
    transition: opacity 0.2s ease;
}
.QuickGallery:hover .GalleryHoverOn
{
    opacity: 1;
}
@keyframes Moveon {
    0% {top: 1000px}
    100% {top: 150px;}
}
@keyframes ProfileMoveOn {
   0% {transform: translateY(-1000px);}
   100%{transform:translateY(0px) ;} 
}