.Galleryframe{
    transition: height 1s ease, width 1s ease;
}
.Gallerypicture img{
    transition: max-height 1s ease, max-width 1s ease;
}
@media screen and (min-width:1200px) {
.Galleryframe{
    width:200px;
    height:200px;
    object-fit: contain;
    background-image: linear-gradient(rgb(217, 130, 252), rgb(68, 38, 67));
    text-align: center;
    padding:20px;
    border-style:outset;
    border-color:rgb(126, 223, 218);
    border-radius: 10%;
    border-width: 5px;
    margin-top:40px;
}
.Gallerypicture img
{
    max-width: 200px;
    max-height: 200px;
}
}
@media  Screen and (max-width:1200px) {
    .Galleryframe{
        width:100px;
        height:100px;
        object-fit: contain;
        background-image: linear-gradient(rgb(217, 130, 252), rgb(68, 38, 67));
        text-align: center;
        padding:20px;
        border-style:outset;
        border-color:rgb(126, 223, 218);
        border-radius: 10%;
        border-width: 5px;
        margin-top:40px;
    }
    .Gallerypicture img
{
    max-width: 100px;
    max-height: 100px;
}
#GalleryPages
{
    float:left;
}}
@media  Screen and (max-width:700px) {
    .Galleryframe{
        width:50px;
        height:50px;
        object-fit: contain;
        background-image: linear-gradient(rgb(217, 130, 252), rgb(68, 38, 67));
        text-align: center;
        padding:5px;
        border-style:outset;
        border-color:rgb(126, 223, 218);
        border-radius: 10%;
        border-width: 5px;
        margin-top:40px;
    }
    .Gallerypicture img
{
    max-width: 50px;
    max-height: 50px;
}
#GalleryPages
{
    float:left;
}
}
#GalleryPages
{
    left:0%;
    width: 100%;
    position: absolute;
    height: 600px;
    top: 85px;
    transition: transform 1s ease, opacity 0.5s ease;
    opacity: 1;
    align-content: center;
    display:flex;
}
.Container
{
    margin:auto;
    position: relative;
    float:left;
}
#BackGroundImage{
    position:fixed;
    top:0px;
    left:0px;
    background-image: url(../images/Ella/Kimino2Ella.png);
    background-color:rgb(43, 43, 43);
    background-size: 4%;
    width: 200%;
    height:200%;
    animation: 30s MoveBackground infinite;
    filter:blur(2px) grayscale(1);
}
@keyframes MoveBackground {
    0% {transform: translate(-3%,-18.8%); animation-timing-function: linear; filter: blur(10px) grayscale(1);}
    50%{filter:blur(3px) grayscale(1);;}
    100% {transform: translate(-43%, -3%); filter:blur(10px)grayscale(1);}
}
#Selection
{
    background-color: rgb(235, 235, 235);
    z-index: 100;
    left:36%;
    width:500px;
    border-radius: 500px;
    height:100px;
    top:750px;
    position:absolute;
    align-content: center;
    display:flex;
}
.SelectionOrbs
{
    border-radius: 100%;
    background-color: rgb(80, 80, 80);
    margin:auto;
    position: relative;
    float:left;
    transition: width 0.4s ease, height 0.4s ease, opacity 0.6s ease;
}
